<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.server.mapper.EventTypeMapper">

    <select id="selectEventType" resultType="String">
        select distinct eventtype
        from eventtype
    </select>
    <select id="selectIdByEventType" resultType="Integer">
        select ID
        from eventtype
        where eventtype = #{eventType,jdbcType=VARCHAR}
    </select>
</mapper>